[Unit]
Description=Jellyfin Client
After=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=4

[Service]
Type=simple
ExecStart=%h/.local/bin/jellyfin-mpv-shim
ExecStop=/bin/kill -s SIGINT $MAINPID
RestartSec=5
Restart=on-failure

[Install]
WantedBy=default.target
