.config/zsh/.zsh_history
.config/zsh/.zcompdump
.config/jellyfin-mpv-shim/cred.json
logs/
.config/obs-studio/profiler_data/

# LaTeX files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.ptc
*.pdf
*.bbl
*.blg
*.bcf
*.run.xml
*-blx.bib
.*.lb
_minted*
*.pyg
*.synctex.gz

