## Aliases
	# Sudo expansion
		alias sudo='sudo '

	# Raspberry Pi
		alias rpi='env TERM=xterm-256color ssh -p2222 dietpi@192.168.0.4'

	# fzf
		alias f='fzf'

	# nq default dir for files
		alias nq='NQDIR=/tmp/nq nq'
		alias tq='NQDIR=/tmp/nq/tmux tq'
		alias fq='NQDIR=/tmp/nq fq'

	# Asks your passwords, becomes root, opens a interactive non login shell
		alias su='sudo -s'

	# Make feh borderless and default to black image background color
		alias feh='feh -x -Z -. --image-bg black'

	# Vim = Nvim

		alias vim='nvim'

		alias v='nvim'

	# Configs
		alias vdl='v ~/.config/scripts/dlsuite-compose.yaml'
		alias vn='v ~/.config/nvim/init.lua'

	# cd	
	if (( $+commands[zoxide] )); then
	  eval "$(zoxide init --cmd=cd zsh)"
	else
	  echo 'zoxide: command not found, please install it from https://github.com/ajeetdsouza/zoxide'
	fi

	# ls	
	if command -v eza >/dev/null 2>&1; then
		alias ls='eza' # Better ls

		alias ll='eza -lah'

		alias l.='eza -a'

		alias la='l.'
	  else
		alias ls='ls --color=auto'

		alias ll='ls -lavh --ignore=..'   # show long listing of all except ".."

		alias l.='ls -A'

	fi

		alias lf='lfcd'

	# Grep

		alias gh='history|rg'


		alias trash='mv --force -t ~/.local/share/Trash '

		alias x='xdg-open'

	# Safety nets

		alias ln='ln -i'

		alias mv='mv -i'

	    # Preventing changing perms on /

	    	alias chown='chown --preserve-root'

	    	alias chmod='chmod --preserve-root'

	    	alias chgrp='chgrp --preserve-root'

	# Human-readable output

		alias mnt="mount | awk -F' ' '{ printf \"%s\t%s\n\",\$1,\$3; }' | column -t | egrep ^/dev/ | sort"

		alias path='echo -e ${PATH//:/\\n}'


	if command -v dust >/dev/null 2>&1; then
		alias du='dust'
	fi

		alias diff='colordiff' # Colorize output

	    # System info

	    	alias meminfo='free -h -l -t'

		alias cpuinfo='lscpu'

	# Create parent directories if they don't exist

		alias mkdir='mkdir -pv'

	# Bluetooth

		alias btctl='bluetoothctl'

	# Others
	
	if command -v duf >/dev/null 2>&1; then
		alias df='duf' # Better df
	fi

	if command -v bat >/dev/null 2>&1; then
		alias cat='bat' # Better cat
	fi
	
		alias now='date +"%T"' # Time

		alias ping='ping -c 5' # Stop ping

		alias wget='wget -c'

	 if command -v btm >/dev/null 2>&1; then
		alias top='btm --color gruvbox'
	  elif command -v htop >/dev/null 2>&1; then
		alias top='htop'
	 fi

		alias calc='qalc'

		alias sys='systemctl'

		alias syslist='systemctl list-unit-files'

		alias sdown='shutdown now'

	# yt-dl	

		alias yd='yt-dlp'

	# ytfzf
		alias y='ytf'
		alias ytf="env YTFZF_ENABLE_FZF_DEFAULT_OPTS=1 ytfzf"

		alias ya='ytf -a'

		alias yh='ytf -H'

	#	alias yda="yt-dlp -x --add-metadata --audio-quality 0 --output '/home/repparw/Music/ytmusic/%(title)s.%(ext)s'"

	# Temperature 
	alias temp="watch -td -n 300 'echo -e \"\$(sensors -A nvme-pci-0100 k10temp-pci-00c3 amdgpu-pci-2d00)
\"'"
#GPU:          +\$(nvidia-smi --query-gpu=temperature.gpu --format=csv,noheader).0°C

	# CPU Mining (xmrig)
	alias mine="cd ~/.mining/xmrig && sudo nice -n 19 ./xmrig -c config.json"

# Global aliases
alias -g G='| grep'
alias -g W='| wc -l'
alias -g C='| tr -d ''\n'' | wl-copy'

# notes with echo
note () {
  echo "$@" >> notes
}

timer () {
  sleep "$@" && mpv --really-quiet --volume=120 ~/Music/ringtone.mp3

}
